@import url('/basier-font/stylesheet.css');

:root {
  --bs-body-font-family: 'Basier Circle', 'Basier Circle Medium', 'Basier Circle Regular', sans-serif;
  --bs-font-sans-serif: 'Basier Circle', 'Basier Circle Medium', 'Basier Circle Regular', sans-serif;
}

.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

/*
 * Sidebar
 */

@media (min-width: 768px) {
  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }

  .navbar-search {
    display: block;
  }
}

.sidebar .nav-link {
  font-size: .875rem;
  font-weight: 500;
}

.sidebar .nav-link.active {
  color: #3d9970;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
}

.btn-primary {
  background-color: #3d9970;
  border-color: #2D8160FF;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #16706d;
}