@import url('/basier-font/stylesheet.css');

:root {
  --bs-body-font-family: 'Basier Circle', 'Basier Circle Medium', 'Basier Circle Regular', sans-serif;
  --bs-font-sans-serif: 'Basier Circle', 'Basier Circle Medium', 'Basier Circle Regular', sans-serif;
}


.modal-sheet .modal-dialog {
  width: 380px;
  transition: bottom .75s ease-in-out;
}

.modal-sheet .modal-footer {
  padding-bottom: 2rem;
}

.btn-primary {
  background-color: #3d9970;
  border-color: #2D8160FF;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #16706d;
}
