@import url('/basier-font/stylesheet.css');

:root {
    --bs-body-font-family: 'Basier Circle', 'Basier Circle Medium', 'Basier Circle Regular', 'Basier Circle SemiBold', sans-serif;
    --bs-font-sans-serif: 'Basier Circle', 'Basier Circle Medium', 'Basier Circle Regular', 'Basier Circle SemiBold', sans-serif;
}


html,
body {
    height: 100%;
}

.cover-container {
    max-width: 42em;
}

.nav-masthead .nav-link {
    color: rgba(255, 255, 255, .5);
    border-bottom: .25rem solid transparent;
}

[data-bs-theme="light"] .nav-masthead .nav-link {
    color: #212529; /* Change the color to white in dark mode */
    border-bottom: .25rem solid transparent;
    border-bottom-color: rgba(33, 37, 41, .25);
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

.form-register,
.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin,
.form-register input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin,
.form-register input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-register input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-primary {
    background-color: #3d9970;
    border-color: #2D8160FF;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #16706d;
}
